/* helping adds*/

.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
}

.cfix:after {
  content: '';
  display: block;
  height: 0;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clear: both;
}

.juster {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.jfix-after:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.vfix {
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle;
}

.vfix-before:before {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}

.hidden-block {
  position: absolute;
  left: -99999em;
  top: -99999em;
}

/* /helping adds*/

/* ctext */

.ctext {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    margin-bottom: 15px;
    font-weight: 700;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
  p {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

/* /ctext */

/* base styles*/
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

*, body, html {
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  //max-height: 9001em;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: arial, sans-serif;
  background: #fff;
  color: #3d3d3d;
  position: relative;
  font-size: 16px;
  line-height: 1;

  /* styles for wp-admin panel */

  &.customize-support {
    .wp-panel-show {
      top: 32px;
    }
    //fixed elements (if their has top:0) must has class .wp-panel-show
  }

  /* /styles for wp-admin panel */

}

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%;
}

/* adapted styles for wp-admin panel */

@media screen and (max-width: 782px) {

  body {
    &.customize-support {
      .wp-panel-show {
        top: 46px;
      }
    }
  }

  #wpadminbar {
    position: fixed !important;
  }

}

/* /adapted styles for wp-admin panel */

/* /base styles */

/* wraps styling*/

.mbox {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.mbox:after {
  content: "";
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
  display: block;
}

/* /wraps styling*/

.footer_placeholder {
  height: 200px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

input, textarea {
  &::-webkit-input-placeholder {
    color: #212121;
  }
  &:-moz-placeholder {
    color: #212121;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: #212121;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: #212121;
  }
}

/*End Layout*/

/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
  $filepath: "/fonts/" + $file;
  @font-face {
    font-family: quote($style-name);
    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
    url($filepath + ".woff") format('woff'),
    url($filepath + ".ttf") format('truetype'),
    url($filepath + ".svg#" + $style-name + "") format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

//  example -> @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);

/*/fonts*/
@include font-face('OpenSansCondensed', 'OpenSansCondensed-Light', 300, normal);
@include font-face('PTSans', 'PTSans-Regual', 400, normal);
@include font-face('PTSans', 'PTSans-Bold', 600, normal);
@include font-face('PTSans', 'PTSans-Italic', 400, italic);
.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 14px;
  font-family: "PTSans", sans-serif;
  color: #767676;
  line-height: 22px;
  margin: 0;
  letter-spacing: 0.3px;
}

.header {
  padding: 37px 0 65px 0;
  background-color: #dcdcdc;
  &__box {
    display: flex;
    justify-content: space-between;
  }
}

.logotype {
  display: inline-block;
  margin-top: 28px;
}

.header-contacts {
  text-align: right;
  &__link {
    font-size: 40px;
    font-family: 'OpenSansCondensed', sans-serif;
    font-weight: lighter;
    color: #767676;
    letter-spacing: 0.9px;
    line-height: 45px;
  }
  &__feedback {
    font-size: 24px;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    border-bottom: 2px dashed #767676;
    color: #767676;
    line-height: 36px;
    letter-spacing: 0.5px;
  }
}

.menu {
  background-color: #777777;
  &__items {
    display: flex;
    align-items: center;
  }
  &__item {
    &:last-child {
      & .menu__link {
        &:after {
          display: none;
        }
      }
    }
  }
  &__link {
    font-size: 30px;
    font-family: 'PTSans', sans-serif;
    color: #ffffff;
    display: block;
    padding: 21px 19px 29px;
    letter-spacing: 0.7px;
    position: relative;
    text-align: center;
    &:after {
      content: '';
      display: block;
      width: 2px;
      height: 25px;
      position: absolute;
      background-color: #fff;
      right: 0;
      top: 26px;
    }

  }
}

.slider {
  overflow: hidden;
  margin: 0;
  &__img {
    width: 100%;
  }
}

.breadcrumb {
  padding: 8px 0;
  margin-bottom: 17px;
  &__link {
    font-size: 15px;
    font-family: 'PTSans', sans-serif;
    color: #767676;
    text-decoration: underline;
    letter-spacing: -0.2px;
    padding-right: 5px;
    &_selected {
      text-decoration: none;
    }
  }
}

.columns {
  &__box {
    display: flex;
  }
}

.columns-left {
  width: 200px;
}

.filter {
  margin-bottom: 109px;
  &__link {
    font-size: 18px;
    font-family: "PTSans", sans-serif;
    color: #767676;
    letter-spacing: 0.4px;
    margin-bottom: 12px;
    display: block;
    &_selected {
      text-decoration: underline;
      margin-bottom: 2px;
    }
  }
}

.filter-inner {
  &__items {
    list-style: disc inside;
    margin-bottom: 9px;
  }
  &__item {
    color: #767676;
    padding-left: 8px;
  }
  &__link {
    font-size: 14px;
    font-family: "PTSans", sans-serif;
    color: #767676;
    line-height: 22px;
    margin-left: -11px;
    letter-spacing: 0.3px;
    &_selected {
      color: #010101;
      text-decoration: underline;
    }
  }
}

.advertising {
  text-align: center;
  &__name {
    font-size: 30px;
    font-family: "PTSans", sans-serif;
    color: #444444;
    font-weight: bold;
    display: block;
    letter-spacing: 0.8px;
    line-height: 31px;
  }
}

.columns-right {
  width: 780px;
}

.products {
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
}

.product {
  display: block;
  height: 380px;
  width: 250px;
  background-color: #dcdcdc;
  padding: 20px;
  margin: 0 15px 20px 0;
  &:nth-child(3n) {
    margin: 0 0 20px 0;
  }
  &__descr {
    padding-top: 20px;
  }
  &__link {
    display: block;
  }
  &__name {
    font-size: 18px;
    font-family: "PTSans", sans-serif;
    color: #767676;
    display: block;
    letter-spacing: 0.4px;
    margin-bottom: 52px;
  }
  &__price {
    font-size: 28px;
    font-family: "PTSans", sans-serif;
    color: #444444;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
  &__basket {
    background: url("../images/icon-basket.png") no-repeat;
    display: inline-block;
    text-align: right;
    width: 28px;
    height: 21px;
    float: right;
    margin: 6px 15px 0 0;
  }
}

.pagination {
  border-bottom: 1px solid #777777;
  padding-bottom: 53px;
  &__items {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__link {
    font-size: 14px;
    font-family: "PTSans", sans-serif;
    color: #767676;
    display: block;
    padding: 11px 8px;
    &_selected {
      font-size: 18px;
    }
  }
}

.description {
  font-size: 14px;
  font-family: "PTSans", sans-serif;
  color: #767676;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 0;
  margin-bottom: 172px;
  &__txt {
    width: 370px;
  }
}

.footer {
  background-color: #767676;
  padding: 44px 0;
}

.footer-info {
  line-height: 22px;
  font-size: 14px;
  font-family: "PTSans", sans-serif;
  color: #fff;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0.32px;
  &__mail {
    color: #ffffff;
  }
}

.footer-menu {
  display: inline-block;
  line-height: 25px;
  letter-spacing: 0.3px;
  margin-left: 145px;
  &__link {
    font-size: 14px;
    font-family: "PTSans", sans-serif;
    color: #fff;
    text-decoration: underline;
  }
}

.footer-author {
  line-height: 22px;
  width: 230px;
  float: right;
  background: url("../images/icon-company.png") no-repeat 4px 6px;
  padding-left: 49px;
  &__txt {
    font-size: 14px;
    font-family: "PTSans", sans-serif;
    color: #fff;
  }
  &__span {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1199px) {
  .product {
    width: 242px;
  }
}

@media screen and (max-width: 991px) {
  .product {
    width: 250px;
    margin-right: 0;
    &:nth-child(2n) {
      margin: 0 0 20px 0;
    }
    &:nth-child(3n) {
      margin: 0 0 20px 0;
    }
  }
  .products {
    &__items {
      justify-content: space-between;
    }
  }
  .columns-left {
    width: 30%;
  }
  .columns-right {
    width: 70%;
  }
  .menu {
    &__link:after {
      display: none;
    }
  }
  .description {
    &__txt {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .product {
    width: 250px;
  }

}

@media screen and (max-width: 320px) {
  .menu {
    display: none;
  }
  .logotype {
    margin: 0 0 20px 0;
  }
  .header {
    &__box {
      display: block;
      text-align: center;
    }
  }
  .header-contacts {
    text-align: center;
  }
  .columns-left {
    display: none;
  }
  .columns-right {
    width: 100%;
  }
  .products {
    &__items {
      justify-content: center;
    }
  }
  .description {
    margin-bottom: 0;
  }
  .footer-menu {
    margin: 15px 0 15px;
  }
  .footer-author {
    float: none;
  }
}

@media screen and (min-width: 320px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}




