<!-- HEADER -->
<header class="header">
    <div class="container">
        <div class="header__box">
            <a href="#" class="logotype">
                <img src="images/img-logotype.png" alt="" class="logotype__img">
            </a>
            <div class="header-contacts">
                <ul class="header-contacts__items">
                    <li class="header-contacts__item">
                        <a href="tel:+7(499) 777-77-77" class="header-contacts__link">+7(499) 777-77-77</a>
                    </li>
                    <li class="header-contacts__item">
                        <a href="tel:+7(499) 777-77-77" class="header-contacts__link">+7(499) 777-77-77</a>
                    </li>
                </ul>
                <a href="#" class="header-contacts__feedback">Обратная связь</a>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

