.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

.row:after,
.row:before {
  content: "";
  display: table;
  clear: both;
}

img {
  vertical-align: top;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: #fff;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: #9d50c0;
  }
  &:active, &:focus {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }

}

p {
  margin: 0;
}

body {
  color: #666;
  font-family: 'Roboto';
  background-color: #fff;
}

.topper {
  background-color: #3c3b48;
  color: #fff;
}

.social {
  font-size: 0;
  &_footer {
    font-size: 0;
    margin: 15px 0;
    .social__link {
      border: 1px solid #fff;
      line-height: 30px;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 12px;
      &:hover {
        border-color: #9d50c0;
      }
    }
  }
  &__item {
    padding: 10px 0;
    display: inline-block;
    margin-right: 7px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: #fff;
    font-size: 12px;
    &:hover {
      color: #9d50c0;
    }
  }
}

.basket {
  display: inline-block;
  float: right;
  &__link {
    line-height: 39px;
    display: block;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
  }
}

.login {
  display: inline-block;
  float: right;
  margin-right: 34px;
  &__link {
    line-height: 39px;
    font-size: 8px;
    text-transform: uppercase;
    display: block;
    color: #fff;
  }
}

.logo {
  padding: 20px 0 10px 0;
  &__link {
    display: inline-block;
    &_footer {
      border-bottom: 2px solid #9f53c1;
      padding-bottom: 8px;
    }
  }
  &__img {
    margin: 14px 0px 0px -7px;
  }
}

.menu {
  &__list {
    margin: 32px 0;
    float: right;
    font-size: 0;
    &_foot {
      margin-bottom: 10px;
      float: none;
      .menu__item {
        border-left: 1px solid #666;
        font-size: 10px;
        line-height: 10px;
        margin-left: 6px;
        padding-left: 6px;
        &:first-child {
          background: none;
          border-left: none;
          margin-left: 0;
          padding-left: 0;
        }
        .menu__link {
          padding: 0;
        }
      }
    }
  }
  &__item {
    display: inline-block;
    position: relative;
    &:first-child {
      background-image: url("./../img/arrow-down.png");
      background-repeat: no-repeat;
      background-position: 100% 50%;
      &:hover {
        .pop-up {
          opacity: 1;
          transition: 0.5s;
          display: block;
        }

      }
    }
  }
  &__link {
    padding: 17px 21px;
    text-transform: uppercase;
    color: #666;
    font-size: 14px;
  }
}

.pop-up {
  position: absolute;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  transition: 0.5s;
  opacity: 0;
  width: 815px;
  left: -240px;
  box-sizing: border-box;
  background-image: url("./../img/pop-up-bg.png");
  box-shadow: 2px 2px 6px -1px #000;
  border-bottom: 3px solid #aa68c9;
  z-index: 2;
  display: none;
  &__txt {
    text-align: center;
    padding: 20px 25px 15px 25px;
    font-style: italic;
    font-size: 14px;
    line-height: 27px;
  }
  & .logo {
    text-align: center;
  }
  &__name {
    font-weight: 700;
    font-size: 14px;
    padding-top: 24px;
    display: block;
    padding-bottom: 15px;
  }
  &__link {
    padding: 8px 0;
    font-size: 13px;
    color: #6f6f6f;
  }
  & .product {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  & .product__name {
    background: transparent;
  }
}

.banner {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 24px;
}

.search {
  font-size: 19px;
  padding: 41px 0;
  text-align: center;
  &_footer {
    padding: 0 0 0 35px;
    display: inline-block;
  }
}

.slider {
  position: relative;
  &__item {
    position: relative;
    height: 645px;
    background: url("./../img/slide.png") no-repeat;
    background-size: cover;
  }
  &__desc {
    width: 585px;
    text-align: center;
    padding: 133px 0;
  }
  &__txt {
    text-transform: uppercase;
    font-size: 33px;
    letter-spacing: 6px;
    font-weight: 700;
    color: #5c0881;
  }
  &__title {
    text-transform: uppercase;
    font-size: 81px;
    font-weight: 300;
    margin: 10px 0 46px;
    color: #030202;
  }
}

.catalog {
  padding-top: 32px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 31px;
  margin-top: 19px;
  margin-bottom: 7px;
  letter-spacing: 2px;
  &:before {
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 29px;
    position: relative;
    top: -9px;
    background-color: #9f53c1;
  }
}

.slider .owl-prev,
.slider .owl-next {
  position: absolute;
  display: inline-block;
  width: 65px;
  height: 65px;
  top: 45%;
  z-index: 1;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.slider .owl-prev {
  background-image: url(../img/icon-back.png);
  left: 42px;
}

.slider .owl-next {
  background-image: url(../img/icon-next.png);
  right: 42px;
}

.owl-dot {
  width: 13px;
  height: 13px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  position: relative;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    background-color: #280438;
  }
}

.owl-dot.active {
  background-color: #280438;
  border-radius: 50%;
  &:before {
    background-color: #fff;
  }
}

.owl-dots {
  position: relative;
  top: -40px;
  text-align: center;
}

.category .owl-prev,
.category .owl-next {
  z-index: 1;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 60px;
  top: 45%;
  border-radius: 50%;
  border: 1px solid #9e51c0;
  background-color: #fff;
  transition: 0.5s;
  &:hover {
    background-color: #9d50c0;
  }
}

.category .owl-prev {
  background-image: url(../img/icon-back-s.png);
  left: -29px;
  &:hover {
    background-image: url(../img/icon-back-s_hover.png);
  }
}

.category .owl-next {
  background-image: url(../img/icon-next-s.png);
  right: -29px;
  &:hover {
    background-image: url(../img/icon-next-s_hover.png);
  }
}

.tabs {
  border-top: 1px solid #e0e0e0;
  &__list {
    text-align: center;
    margin-bottom: 37px;
  }
  &__item {
    display: inline-block;
    &_active .tabs__span:before {
      content: '';
      height: 5px;
      width: 5px;
      display: block;
      margin: 0 auto;
      background-color: #9f53c1;
      position: relative;
      top: -7px;
      border-radius: 50%;
    }
  }
  &__span {
    display: block;
    padding: 4px 17px;
    font-size: 17px;
    &:hover {
      cursor: pointer;
    }
  }
}

.product {
  text-align: center;
  color: #111;
  position: relative;
  margin-bottom: 30px;
  &:hover {
    cursor: pointer;
    .product__more {
      bottom: 65px;
      opacity: 1;
      transition: 0.5s;
    }
  }
  &__img {
    width: 100%;
  }
  &__name {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 11px;
    background: #fff;
    position: relative;
    z-index: 2;
  }
  &__price {
    font-size: 19px;
    padding-top: 7px;
  }
  &__more {
    border: 1px solid #e0e0e0;
    font-size: 0;
    position: absolute;
    bottom: 24px;
    background-color: #fff;
    opacity: 0;
    transition: 0.5s;
    margin-right: -1px;
    color: #dadada;
  }
  &__add-link {
    color: #dadada;
    padding: 12px 81px 11px 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
  &__add {
    display: inline-block;
    &:hover {
      color: #9d50c0;
    }
  }
  &__like {
    display: inline-block;
    padding: 10px 15px;
    border-left: 1px solid #e0e0e0;
    font-size: 14px;
    &:hover {
      color: #9d50c0;
    }
  }
  &__see {
    display: inline-block;
    padding: 10px 15px;
    border-left: 1px solid #e0e0e0;
    font-size: 14px;
    &:hover {
      color: #9d50c0;
    }
  }
}

.procent, .new {
  position: absolute;
  background-color: #ff5c5c;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  top: 0;
  right: 0;
  &__span {
    color: #fff;
    font-size: 13px;
    line-height: 51px;
  }
}

.new {
  background-color: #4837ff;
}

.category {
  &__list {
    padding: 25px 0;
  }
  &__item {
    position: relative;
    &:hover {
      & .category__title {
        background-color: rgba(0, 0, 0, 0.50);
      }
    }
  }
  &__title {
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    height: 100%;
    top: 0;
    padding: 130px 0;
    transition: 0.5s;
    &:hover {
      color: #fff;
    }
  }
  &__name {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 20px;
      margin: 0 auto;
      background-color: #9f53c1;
      position: relative;
      top: 11px;
    }
  }
  &__number {
    font-style: italic;
    font-size: 14px;
  }
}

.banners {
  &__item {
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 50px;
    background-image: url(../img/icon-star.png);
    background-repeat: no-repeat;
    background-position: 50% 50px;
  }
  &__title {
    text-align: center;
    color: #9d50c0;
    text-transform: uppercase;
    font-size: 20px;
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 20px;
      margin: 0 auto;
      background-color: #9f53c1;
      position: relative;
      top: 11px;
    }
  }
}

.news {
  &__list {
    padding: 35px 0;
  }
  &__item {
    margin-bottom: 30px;
  }
  &__link {
    position: relative;
  }
  &__link:before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(./../img/icon-plus.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;

  }
  &__img {
    width: 100%;
  }
  &__title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #63626c;
  }
  &__info {
    color: #9d50c0;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0;
  }
}

.button {
  text-align: center;
  &__link {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    border: 2px solid #9d50c0;
    background-color: #9d50c0;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: 0.5s;
    &:hover {
      background-color: #fff;
      color: #9d50c0;
    }
  }
  &_trans {
    .button__link {
      background-color: #fff;
      color: #9d50c0;
      &:hover {
        background-color: #9d50c0;
        color: #fff;
      }
    }
  }
}

.end {
  padding: 7px 0px 59px;
  &__txt {
    padding: 30px 0;
  }
}

.footer {
  background-color: #3c3b48;
  border-top: 5px solid #9d50c0;
  position: relative;
  box-shadow: inset 0 15px 15px -15px #000;
  color: #fff;
  &__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    display: block;
    &:after {
      position: relative;
      content: '';
      display: block;
      height: 2px;
      width: 20px;
      top: 6px;
      background-color: #9f53c1;
    }
  }
  &__menu {
    padding-top: 86px;
  }
  &__list {
    padding-top: 36px;
    &_primery {
      font-weight: 700;
    }
  }
  &__link {
    color: #fff;
    font-size: 14px;
    padding: 2px 0;
  }
  &__search-txt {
    padding-top: 36px;
  }
  &__form {
    display: inline-block;
  }
  &__input {
    margin: 20px 0;
    padding: 8px 15px;
    width: 280px;
    background-color: #333;
    border: none;
  }
}

.contact {
  font-style: italic;
  &__txt {
    margin: 20px 0;
  }
}

.copyright {
  background-color: #333;
  &__txt {
    color: #666;
    font-size: 10px;
    margin-bottom: 20px;
  }
  &__banner {
    padding: 29px 0;
  }
}

.toTop {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  cursor: pointer;
  display: none;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  line-height: 41px;
}