.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
}

.header {
  padding: 17px 0;
}

.logotype {
  font-family: 'League Gothic Regual', Arial, sans-serif;
  font-size: 32px;
  color: #076e9f;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  &__link {
    display: block;
  }
  &__span {
    color: #22aaec;
  }
}

.social {
  position: absolute;
  right: 0;
  top: 0;
  &__items {
    font-size: 0;
  }
  &__item {
    display: inline-block;
  }
  &__link {
    display: block;
    margin-left: 10px;
  }
}