.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Arial, sans-serif;
}

.logotype {
  font-family: 'League Gothic Regual', Arial, sans-serif;
  font-size: 32px;
  color: #076e9f;
  text-transform: capitalize;
}