.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'League Gothic Regual', Arial, sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: #076e9f;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: inline-block;
  padding: 18px 33px;
}

h2 {
  font-family: 'League Gothic Regual', Arial, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #076e9f;
  margin: 0;
}

h3 {
  font-family: 'League Gothic Regual', Arial, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  color: #076e9f;
  margin: 0;
}

p {
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: #5c5c5c;
  line-height: 1.8;
}

.container {
  position: relative;
}

.header {
  padding: 17px 0;
}

.logotype {
  font-family: 'League Gothic Regual', Arial, sans-serif;
  font-size: 32px;
  color: #076e9f;
  text-transform: uppercase;
  text-align: center;
  &__link {
    display: inline-block;
    cursor: pointer;
  }
  &_footer {
    text-align: left;
    font-size: 16px;
  }
}

.span-blue {
  color: #22aaec;
}

.social {
  position: absolute;
  right: 0;
  top: 0;
  &__items {
    font-size: 0;
  }
  &__item {
    display: inline-block;
  }
  &__link {
    display: block;
    margin-left: 10px;
  }
}

.header-nav {
  &__items {
    font-size: 0;
    text-align: center;
    padding: 11px 0;
    display: flex;
    justify-content: center;
  }
  &__link {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    padding: 6px 16px;
    color: #707070;
    margin: 0 15px;
    &_active {
      color: #ffffff;
      border: 1px solid #045279;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.55);
      box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
      background-image: linear-gradient(0deg, #066396 0%, #469bbf 100%)
    }
  }
}

.home {
  background: url("./../img/bg-home.png") no-repeat;
  background-size: cover;
  border-top: 2px solid #22aaec;
  border-bottom: 2px solid #22aaec;
  padding-top: 91px;
  &__head {
    text-align: center;
  }
  &__txt {
    font-family: 'League Gothic Regual', Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #076e9f;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 18px 33px;
    margin: 19px 90px;
    display: inline-block;
  }
}

.home-list {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 0;
  &__item {
    position: relative;
  }
  &__img {
    position: absolute;
  }
  &__box {
    background-color: rgba(255, 255, 255, 0.8);
    height: 70px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 9px;
    padding: 10px 10px 5px 50px;
    margin-left: 36px;
  }
  &__txt {
    color: #515151;
  }
  &__author {
    color: #828282;
  }
}

.main {
  &__box {
    border-bottom: 1px dotted #d5d5d5;
  }
}

.sidebar-author {
  border-bottom: 1px dotted #d5d5d5;
  &__span {
    color: #076e9f;
    font-weight: bold;
  }
  &__txt {
    font-size: 10px;
    font-family: Arial, sans-serif;
    line-height: 1.8;
  }
}

.sidebar-posts {
  border-bottom: 1px dotted #d5d5d5;
  &__item {
    display: flex;
  }
  &__title {
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #5c5c5c;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.8;
    display: block;
  }
  &__comments {
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #5c5c5c;
    font-style: italic;
    line-height: 1.8;
    display: block;
    text-align: right;
    background: url('../img/icon-chat_grey.png') no-repeat;
  }
}

.sidebar-currency {
  &__row {
    border-bottom: 1px solid #fff;
    display: flex;
    &:first-child, &:last-child {
      border-bottom: none;
    }
  }
  &__col {
    border-right: 1px solid #fff;
    width: 39px;
    text-align: center;
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #076E9F;
    line-height: 1.4;
    background-color: #c7e9fa;
    &:first-child, &:last-child {
      border-right: none;
    }
    &_head {
      color: #fff;
      background-color: #076E9F;
    }
  }
}

.icon {
  display: block;
  &__down {
    background: url("../img/icon-arrow-down.png") no-repeat;
    width: 15px;
    height: 14px;
    margin: 0 auto;
  }
  &__up {
    background: url("../img/icon-arrow-up.png") no-repeat;
    width: 15px;
    height: 14px;
    margin: 0 auto;
  }
}

.content {
  background-color: #fff;
  border-top: 2px solid #22aaec;
  position: relative;
  top: -11px;
}

.post-main {
  display: flex;
  border-bottom: 1px dotted #d5d5d5;
  &__date-author {
    width: 112px;
    font-size: 8px;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  &__date {
    width: 51px;
    height: 51px;
    background-color: #22aaec;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__author {
    width: 51px;
    height: 51px;
    background: #22aaec url(../img/icon-user.png) 3px 3px no-repeat;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1.8;
    border: 1px solid #045279;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
    background-image: linear-gradient(0deg, #066396 0, #469bbf 100%);
    display: inline-block;
  }
  &__likes-comments {
    display: flex;
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #076E9F;
    line-height: 1.8;
    background-color: #90d4f5;
    position: relative;
    right: -5px;
    &:after {
      content: '';
      display: block;
      width: 5px;
      height: 6px;
      background: url("../img/icon-triangle.png") no-repeat;
      position: absolute;
      right: 0;
      bottom: -5px;
    }
  }
  &__likes {
    background: url(../img/icon-thumb-up_white.png) no-repeat;
    padding-left: 25px;
  }
  &__comments {
    background: url(../img/icon-chat_white.png) no-repeat;
    padding-left: 25px;
  }
}

.posts {
  display: flex;
}

.post {
  background-color: #eaeaea;
  border-radius: 10px 0 0 0;
  margin-left: 13px;
  width: 50%;
  &__date-authoe {
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #878787;
    line-height: 1.8;
  }
  &__link {
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #076e9f;
    line-height: 1.8;
  }
  &__txt {
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #5C5C5C;
    line-height: 1.8;
  }
  &__likes-comments {
    display: flex;
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #076E9F;
    line-height: 1.8;
    justify-content: flex-end;
  }
  &__likes {
    background: url(../img/icon-thumb-up_blue.png) no-repeat;
    padding-left: 25px;
  }
  &__comments {
    background: url(../img/icon-chat_blue.png) no-repeat;
    padding-left: 25px;
  }
}

.ad-component {
  background-image: linear-gradient(0deg, #f4f3f3 0%, #e8e7e7 100%);
  text-align: center;
  padding: 30px 10px;
  margin-left: 13px;
  &__txt {
    font-size: 12px;
  }
}

.map {
  &__img {
    width: 100%;
  }
}

.footer {
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__copyright {
    border-top: 1px dotted #d5d5d5;
    text-align: center;
    text-transform: uppercase;
  }
}

.footer-nav {
  &__items {
    display: flex;
    justify-content: flex-end;
  }
  &__link {
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #707070;
    text-transform: uppercase;
  }
}